/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

body{
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: white;
  background: url("../img/les-aliments-bons-pour-coeur.jpg");
  background-size: 100%;
}

#tab{
  width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}


#tab1:hover{
  cursor: pointer;
  background-color: coral;
}

#tab2:hover{
  cursor: pointer;
  background-color: coral;
}

#tab3:hover{
  cursor: pointer;
  background-color: coral;
}


#Client{
  width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#Products{
  width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#Cart{
  width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.footer-signature {
  color:white;
  background: rgba(0, 0, 0, 0.7);;
  font-style: italic;
  position: absolute;
  border-radius: 10px;
  padding: 5px;
  bottom: -15px;
}

#addCart{
  width: 590px;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-top: 3%;
  color: white;
  background-color: green;
}